<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irs.main">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".controller.LandingController"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controller.DietRestriction"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".controller.PreferencesController"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".controller.FoodFinderController"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".controller.SelectRestaurantController"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".controller.Error"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".controller.UploadPhoto"
            android:configChanges="orientation"
            android:label="UploadPhoto"
            android:screenOrientation="portrait" />

        <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />
    </application>
</manifest>
